/* Initial body */
body {
   left: 0;
   margin: 0;
   position: relative;
   overflow: auto;
}

/* Initial menu */
#menu {
   background: rgba(0, 0, 0, 0.2);
   left: -200px;  /* start off behind the scenes */
   height: 100%;
   position: fixed;
   width: 200px;
   background: url('../images/black-thread.png') repeat left top;
}

/* Basic styling */
.content {
   width: 960px;
   height: auto;
   margin: 0 auto;
   margin-top: 20px;
   margin-bottom: 20px;

   padding: 10px;
   box-shadow: 10px 10px 25px black;
   font-family: Raleway, sans-serif;
}

#menu ul {
   border-top: 1px solid #636366;
   list-style: none;
   margin: 0;
   padding: 0;
}

#menu li {
   border-bottom: 1px solid #636366;
   font-family: Raleway, sans-serif;
   line-height: 75px;
   padding-bottom: 3px;
   padding-left: 10px;
   padding-top: 3px;
}

#menu a {
   color: white;
   font-size: 20px;
   text-decoration: none;
   text-transform: uppercase;
   padding: 40px 60px 40px 40px;
}

#menu a:hover{
   color: red;
   text-decoration: none;
}

#icon-close {
   cursor: pointer;
   padding-left: 30px;
   padding-top: 30px;
}

#icon-menu {
   color: black;
   cursor: pointer;
   font-family: Raleway, sans-serif;
   font-size: 1em;
   padding-bottom: 25px;
   padding-left: 5px;
   padding-top: 5px;
   text-decoration: none;
   text-transform: uppercase;
   width: 20%;
}

#m1 {
   font-weight: bold;
   color: white;
   float: right;
   font-size: 25px;
   margin: 10px;
   font-family: Raleway, sans-serif;
   border-radius: 5px;
}

#m1:hover{
   color: red;
}

#m2 {
   font-weight: bold;
   color: black;;
   font-family: Raleway, sans-serif;
   font-size: 25px;
   padding: 10px 15px;
   border-radius: 5px;
}

#m2:hover{
   box-shadow: 10px 10px 25px black;
}

.counter {
   display: inline;
   margin-top: 0;
   margin-bottom: 0;
   margin-right: 10px;
}

#textBox{
   width: auto;
}

#btn{
   background-color: green;
   padding: 2px 10px;
   float: right;
   text-decoration: none;
   color: white;
   border-radius: 3px;
}

.textBox {
   width: 100%;
   max-width: 100%;
}

.label {
   display: inline;
}

.posts {
   clear: both;
   list-style: none;
   padding-left: 0;
}

.disabled{
   pointer-events: none;
   cursor: default;
   color: black;
   background-color: lightgrey;
}

.posts li {
   background-color: #fff;
   border: 1px solid #d8d8d8;
   padding-top: 10px;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 10px;
   margin-bottom: 10px;
   word-wrap: break-word;
   min-height: 42px;
}

.footer{
   border-top: 1px solid #d8d8d8;
   width: 960px;
   margin: 0 auto;
   padding: 10px;
   text-align: center;
   font-family: Raleway, sans-serif;
}

